# --- Security (CRITICAL) ---
.env

# --- Python & System Garbage ---
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# --- Virtual Environment & Dependencies ---
venv/
lib/
# We ignore 'opt' because the code will re-download the Reranker model automatically
opt/

# --- Heavy Source Data (Ignore these, we only need the FAISS index) ---
PDFs/
data_pdfs/
Scrape/
data_raw/
_archive/

# --- Results & Logs ---
test_dataset.xlsx
report_card.csv
report_card_mlflow.csv
mlruns/
latest_experiment_result.json
detailed_report_card.csv
emergency_results.csv
config_snapshot.json

# --- Scratchpads ---
Untitled.ipynb
rough.py

mlflow.db 
lib/